<ion-header>
  <ion-toolbar>
    <!-- Botón de hamburguesa -->
    <ion-buttons slot="start">
      <ion-button (click)="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img class="logo-mini" src="../../../assets/image.png" alt="Logo de la empresa"></ion-img>
  </ion-toolbar>
</ion-header>

<!-- Sidebar -->
<div class="sidebar" [class.open]="isSidebarOpen">
  <ion-list>
    <!-- Titulo -->
    <ion-item>
      <ion-label>
        <h3>Hola: <b>{{nameUser}}</b></h3>
      </ion-label>
    </ion-item>

    <!-- Inicio -->
    <ion-item button (click)="navigateTo('/dashboard-technician/home-technician')">
      <ion-icon name="home-outline" slot="start"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-item>


    <!-- Atenciones -->
    <ion-item button (click)="navigateTo('/dashboard-technician/attendances-technician')">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Asignaciones</ion-label>
    </ion-item>

    <!-- Historial de Atenciones -->
    <ion-item button (click)="navigateTo('/dashboard-technician/attendances-history')">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Atenciones</ion-label>
    </ion-item>

    <!-- Cerrar Sesion -->
    <ion-item button (click)="navigateTo('/logout')">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</div>

<!-- Overlay para cerrar el sidebar -->
<div class="overlay" [class.open]="isSidebarOpen" (click)="toggleSidebar()"></div>

<!-- Contenido principal -->
<ion-content>
  <!-- Tu contenido aquí -->
</ion-content>
