<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="administrators">
      <ion-icon name="radio"></ion-icon>
      Administradores
    </ion-tab-button>
    <ion-tab-button tab="technicial">
      <ion-icon name="library"></ion-icon>
      Técnicos
    </ion-tab-button>
    <ion-tab-button tab="appointments">
      <ion-icon name="search"></ion-icon>
      Citas
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
