.update-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 500px;
  margin-top: 100px;
}

.update-password-container ion-item {
  width: 100%;
  margin-bottom: 15px;
}

.update-password-container ion-label {
  font-size: 14px;
  font-weight: 600;
}

.update-password-container ion-input {
  font-size: 16px;
}

.update-password-container ion-button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.update-password-container .forgot-password,
.update-password-container .register-link {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.update-password-container ion-icon {
  font-size: 20px;
  cursor: pointer;
}
