<ion-header>
  <ion-grid style="margin-top: 20px;">
    <ion-row>
      <ion-col size="12">
        <ion-title>Atenciones Asignadas</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="false">

  <!-- Contenedor de los botones flotantes -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <div style="display: flex; flex-direction: row; gap: 10px;">
      <!-- Botón para limpiar filtros -->
      <ion-fab-button (click)="clearFilters()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-fab-button>

      <!-- Botón para ir al inicio -->
      <ion-fab-button (click)="scrollToTop()">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>


  <!-- Filtros -->
  <ion-grid>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Estado:</ion-label>
          <ion-select [(ngModel)]="statusFilter" (ionChange)="onStatusChange($event)">
            <ion-select-option value="">Todos</ion-select-option>
            <ion-select-option value="FINISH">Finalizado</ion-select-option>
            <ion-select-option value="CANCELED">Cancelado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-list>
    @for (attendance of attendances; track attendance; let index = $index) {
    <ion-item-sliding>
      <ion-item lines="full">

        <ion-label>
          <ion-grid>

            <ion-row>
              <ion-col size="6">
                <h3><b>Código:</b> {{attendance.code}}</h3>
              </ion-col>
              <ion-col size="6">
                <ion-badge [color]="getStatusColor(attendance.status)">
                  <ng-container [ngSwitch]="attendance.status">
                    <span *ngSwitchCase="'PROGRESS'">En Progreso</span>
                    <span *ngSwitchCase="'INGRESS'">Ingresado</span>
                    <span *ngSwitchCase="'ASSIGN'">Asignado</span>
                    <span *ngSwitchCase="'FINISH'">Finalizado</span>
                    <span *ngSwitchCase="'CANCELED'">Cancelado</span>
                    <span *ngSwitchDefault>{{ attendance.status }}</span>
                  </ng-container>
                </ion-badge>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <h3><b>F. Inicio: {{attendance.startDate}}</b></h3>
              </ion-col>
              <ion-col size="6">
                <h3><b>F. Fin: {{attendance.endDate}}</b></h3>
              </ion-col>

            </ion-row>


            @if (attendance.technician !== null) {
            <ion-row>
              <ion-col size="12">
                <p><b>Técnico:</b> {{ attendance.technician.firstname }} {{ attendance.technician.lastname }}</p>
              </ion-col>
            </ion-row>
            }

            @if (attendance.service !== null) {
            <ion-row>
              <ion-col size="6">
                <p><b>Servicio:</b> {{ attendance.service.name }}</p>
              </ion-col>
              <ion-col size="6">
                <p><b>Precio:</b> ${{ attendance.service.cost }}</p>
              </ion-col>
            </ion-row>
            }
          </ion-grid>
        </ion-label>

      </ion-item>
      <ion-item-options side="start">
        <!-- Finalizar mantenimiento (como está, ícono de engranaje) -->
        <ion-item-option class="bottom-controls-primary"
          *ngIf="attendance.status === 'ASSIGN' || attendance.status === 'PROGRESS'"
          (click)="updateAttendances(attendance)">
          <ion-icon slot="icon-only" name="checkmark-done-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    }
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Modal Con Formulario de Registro o Actualizacion -->

  <ion-modal #openModalAttendencesTech (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()" fill="clear" style="--color: #666;">
              <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title style="font-size: small;">Historial</ion-title>
          <ion-buttons slot="end">
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <div class="login-container">
          <ion-item>
            <ion-label position="floating"><b>Cliente: </b> {{attendance?.client?.firstname}}
              {{attendance?.client?.lastname}} - {{attendance?.client?.phone}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating"><b>Marca / Modelo: </b> {{attendance?.vehicle?.brand}} /
              {{attendance?.vehicle?.model}} </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating"><b>Placa / año: </b> {{attendance?.vehicle?.plate}} /
              {{attendance?.vehicle?.year}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating"><b>Servicio: </b>{{ attendance.service.name }}</ion-label>
          </ion-item>

          <ion-text style="padding: 20px;" color="primary" class="info-text">
            <p><b>** Por favor, complete la siguiente información:</b></p>
          </ion-text>

          <!-- Formulario de ingreso de datos -->

          <ion-item>
            <ion-label position="floating">Trabajo Realizado / Detalles</ion-label>
            <ion-textarea rows="5" [(ngModel)]="attendance.comments">
            </ion-textarea>
          </ion-item>


        </div>

      </ion-content>

    </ng-template>
  </ion-modal>

</ion-content>
