.selected {
  background-color: var(--ion-color-primary)!important;
  color: white !important;
}


ion-content {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  margin-top: auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

ion-button {
  flex: 1;
  margin: 0 8px;
}

ion-list {
  flex: 1;
  overflow-y: auto;
}
