/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import "@ionic/angular/css/palettes/dark.system.css";*/

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.forgot-password {
  margin: 10px 0;
}

.register-link {
  margin: 20px 0;
}

.social-login {
  margin-top: 30px;
}

.social-login ion-button {
  margin: 10px 0;
}

ion-button {
  margin: 30px 0;
}

.logo {
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.logo-mini {
  width: 50px;
  margin: 0 auto;
}

.text-subtitle {
  margin: 0px 0;
  text-align: center;
  color: #7D848D;
}

ion-tab-bar {
  --background: #f4f4f4;
  --color: #333;
  --color-selected: #3880ff;
}

ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-content {
  padding-bottom: 60px;
  /* Ajusta según la altura del menú */
}

.bottom-controls-primary {
  --background: rgba(242, 234, 234, 0.421);
  --color: #3880ff;
}

.bottom-controls-danger {
  --background: rgba(242, 234, 234, 0.421);
  --color: #ff0000;
}


ion-tab-bar {
  --background: #f8f9fa;
  --color: #495057;

  ion-tab-button {
    --color-selected: var(--ion-color-primary);
  }
}


/* reservation-flow.page.scss */
ion-progress-bar {
  --progress-background: var(--ion-color-primary);
  height: 4px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.selected {
  background-color: var(--ion-color-primary);
  color: white;
}

